@import "variables";
@import "mixin";
@import "reset";
@import "media";


#header {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: $width-100;
  padding: 24px 0;
  background-color: $darkColor;

  .header {
    @include df;
    &--nav {
      display: flex;
      gap: 50px;

      &__item {
        font-weight: 500;
        font-size: 14px;
        color: #9099A3;
        transition: all .4s ease-in;

        &:hover {
          color: #FFFFFF;
          transform: translateY(2px);
        }
      }
    }
    &--group {
      display: flex;
      gap: 35px;

      select {
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: 400;
        font-size: 15px;
        color: $lightColor;

        option {
          background-color: $darkColor;
        }
      }
      &__btn {
        box-shadow: 10px 10px 18px rgba(255, 255, 255, 0.15), -10px -10px 24px rgba(255, 255, 255, 0.25);
        background: linear-gradient(180deg, rgba(47,48,119,0.53) -21.43%, rgba(255, 255, 255, 0.51) 123.66%);
        font-weight: 500;
        font-size: 18px;
        color: $lightColor;
        padding: 10px 25px;
        border-radius: 10px;
        transition: all .4s ease-in;
        &:hover {
          transform: scale(1.1);
          border: 1px solid black;
          background: rgba(26, 92, 255, 0.87);
        }
      }
    }
  }
}
#hero{
  .hero{
    @include df;
    align-items: flex-start;
    padding: 100px 0;
    &--nav{
      padding: 30px 0;
      h1{
        font-weight: 700;
        font-size: 36px;
        color: #FFFFFF;
        padding: 20px 0;
      }
      p{
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
      }

    }
    &--bar{
      p{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9099A3;
      }
      span{
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

      }
    }

  }
}
#chang {

  .chang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 4rem;



    &--alisa {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    &--oleg {
      width: 552px;
      height: 264px;
      background: #1E2023;
      border-radius: 15px;

      &__just {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;
      }

      &__read {
        h1 {
          padding: 20px 0;
          text-align: center;
          font-weight: 700;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
        }
        h2{

          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
          color: rgba(255, 255, 255, 0.6);
        }
        p{
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          color: #FFFFFF;

        }
        &--goul{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding: 20px 0 0;
          margin: 0 20px 0;
          .star{
            width: 13px;
            height: 12px;
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            background: orange;
          }
          .star2{
            width: 13px;
            height: 12px;
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            background: #ffffff;
          }
          p{
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.6);
            margin: 0 10px;
          }

        }


      }


    }

  }
}
#footer {
  .footer {
    padding: 50px 0;
    @include df;
    align-items: start;
    flex-wrap: wrap;
    padding-bottom: 40px;

    &--logo {
      width: 12%;
    }
    &--blogs {
    @include df;
      align-items: start;
      width: 50%;

      &__blog {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 18px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          color: $lightColor;
        }
        a {
          font-weight: 400;
          font-size: 14px;
          color: #9099A3;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          color: #9099A3;

          a {
            font-weight: 400;
            font-size: 14px;
            color: #9099A3;
          }
        }
      }
    }
    &--icons {
      width: 14%;
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 18px;

      h3 {
        font-weight: 700;
        font-size: 18px;
        color: $lightColor;
      }
      &__blogs {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &--blog {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #DADADA;
        }
      }
    }
    &--bottom {
@include df;
      width: 100%;
      margin-top: 80px;

      p {
        font-weight: 400;
        font-size: 9px;
        color: #9099A3;
      }
      &__group {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
          font-weight: 400;
          font-size: 9px;
          text-decoration-line: underline;
          color: #9099A3;
        }
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}

